.loggedout{
    margin: auto;
    width: 50%;
    text-align: center;
    border: 1px solid black;
}

.loggedin{
    margin: auto;
    width: 50%;
    text-align: center;
    padding-bottom: 50px;
}

label{
    width: 100%;
}
textarea{
    resize: none;
    width: 100%;
}

p{
    visibility: hidden;
}

input{
    text-align: left;
}

.pic{
    width: 20%;
}

